.container{
	background-color:red;
	color:white;
	height:90vh;
	background-color:black;
}
.container h1{
		background-color:red;
		height:100px;
}
.admin{
	height:400px;
	width:500px;
	padding:0px 10px 10px 10px;
	margin-left:850px;
	margin-top:100px;
	border:2px solid black;
	border-radius:18px;
	background-color:lightblue;
	text-align:center;
	float:top;
}
.student{
	height:400px;
	width:500px;
	padding:0px 10px 10px 10px;
	margin-left:150px;
	margin-top:83px;
	float:left;
	border:2px solid black;
	border-radius:18px;
	background-color:lightblue;
	text-align:center;
}
.admin input[type="text"],input[type="submit"]{
	height:15px;
	width:150px;
	margin:7px;
	padding:7px;
	border:2px solid black;
	border-radius:24px;
	text-align:center;
} 
.student input[type="text"],input[type="submit"]
{
	height:15px;
	width:150px;
	margin:7px;
	padding:7px;
	border:2px solid black;
	border-radius:24px;
	text-align:center;
}
.admin input[type="text"]:hover{
	height:20px;
	width:160px;
	border-color:red;
}
.student input[type="text"]:hover{
	height:20px;
	width:160px;
	border-color:red;
	background-color:grb(196,132,132);
}
.quote h2,h1{
	text-align:center;
}
input[type="submit"]{
	height:40px;
	width:100px;
	float:center;
}
input[type="submit"]:hover{
	height:42px;
	width:110px;
	float:center;
	border:2px solid green;
	border-radius:18px;
}
.container img{
	position:absolute;
	height:80px;
	width:90px;
	border:2px solid black;
	border-radius:18px;
	margin-left:10px;
	margin-top:10px;
}
.student h1{
	background-color:lightblue;
	color:red;
	padding:0px;
}
.admin h1{
	background-color:lightblue;
	color:red;
}
.student h4{
		color:red;
}