*{
	margin:0px;
	padding:0px;
}
#header h1{
	position:absolute;
	height:17%;
	width:100%;
	color:white;
	background-color:tomato;
	text-align:center;
	margin:2px opx;
	text-height:170px;
}
#image img{
	position:absolute;
	top:13px;
	left:9px;
	bottom:2px;
	height:80px;
	width:78px;
	padding:2px;
	border:2px solid black;
	border-radius:24px;
}
#clg img{
	position:absolute;
	top:17%;
	padding:2px;
	height:80vh;
	border:2px solid black;
}
ul{
	position:absolute;
	top:19%;
	left:65%;
}
ul li{
	display:inline-block;
	height:20px;
	width:100px;
	padding:3px;
	border:2px solid #668cff;
	border-radius:24px;
	text-color:tomato;
	margin:5px;
	text-align:center;
	text-decoration:none;
}
a{
	text-decoration:none;
}
ul li:hover{
	display:inline-block;
	height:20px;
	width:105px;
	padding:3px;
	border:3px solid tomato;
	border-radius:24px;
	margin:5px;
	text-align:center;
	color:black;
}